@import '../../assets/styles/abstracts/index';

.c-navbar {
  overflow: hidden;
  width: px-to-rem(300px);
  height: calc(100vh - #{$g-header-height});
  background-color: lighten($color-nero, 3%);
  color: $color-white;

  transition: background-color $g-transition-duration $g-transition-timing-function,
    transform $g-transition-duration $g-transition-timing-function,
    color $g-transition-duration $g-transition-timing-function;

  @include media-breakpoint-down(lg) {
    position: fixed;
    z-index: $z-index-c-navbar;
    width: 100%;
    height: 100vh;
  }

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: pad();

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }

  &__link {
    position: relative;
    width: 100%;
    padding: pad(2xsmall) pad(small);
    color: $g-text-color;
    cursor: pointer;
    font-size: $g-font-size-large;
    opacity: 0.5;
    transition: opacity $g-transition-duration ease,
      color $g-transition-duration $g-transition-timing-function;

    @include media-breakpoint-down(lg) {
      padding: pad();
    }

    &.is-active,
    &:hover {
      color: $color-primary;
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    top: px-to-rem(24px);
    right: px-to-rem(24px);
  }
}

.slide-x-enter-active,
.slide-x-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: $g-transition-timing-function;
}

.slide-x-enter,
.slide-x-leave-to {
  transform: translate3d(-200%, 0, 0);

  @include media-breakpoint-down(lg) {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
